services:
  - type: web
    name: pm-api
    env: docker
    plan: free
    branch: dev
    region: singapore

    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

      # Connection string database kamu (contoh untuk PostgreSQL)
      - key: DefaultConnection
        sync: false   # supaya aman, nanti isi di Railway dashboard

      # JWT secret key
      - key: JWT_KEY
        sync: false   # isi di Railway dashboard juga

      # URL frontend kamu
      - key: FRONTEND_URL
        value: https://pmfrontend.vercel.app

    dockerfilePath: ./Dockerfile
